/* RESULTS MESSAGE */
.results-message {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.results-message .fas {
  color: var(--blue);
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--darkgrey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
